<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="text1">
    <p id="message1">첫 번째 입력 : {{ message }}</p>
    <input type="text" v-model="message">
  </div>
  <div id="text2">
    <p id="message2">두 번째 입력 : {{ message }}</p>
    <input type="text" v-model="message">
  </div>
  <div id="result">
    <p>합산 입력 : {{ result }}</p>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // CODE HERE
    const text1 = new Vue({
      el: '#text1',
      data: {
        message: '',
      }
    })

    const text2 = new Vue({
      el: '#text2',
      data: {
        message: '',
      }
    })

    const result = new Vue({
      el: '#result',
      data: {
        
      },
      computed:{
        result(){
          return text1.message + text2.message
        }
      }
    })
  </script>
</body>
</html>
